body {
  min-width: var(--body-width);
  text-align: center;
}

header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

header h1 span {
  font-size: 16px;
}

main {
  margin-top: 1em;
  margin-bottom: 2em;
}

footer {
  text-align: left;
}

.btn {
  cursor: pointer;
  text-decoration: underline;
}

.btn.on::after {
  content: '켜짐'
}

.btn.off::after {
  content: '꺼짐'
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide {
  display: none;
}

input.video-link {
  border: 0;
  border-bottom: 1px solid var(--black);
  margin-top: 4px;
  width: 80%;
}
